<%= form_with(model: [project, Comment.new]) do |form| %>
  <div class="flex mb-4">
    <%= form.select :status, options_for_select(Project.statuses.keys, project.status), {}, class: "form-select block w-full rounded-md shadow-sm transition duration-150 ease-in-out sm:text-sm sm:leading-5", prompt: "Select status" %>
  </div>

  <div class="mt-8 mb-4">
    <%= form.text_area :text, class: "form-input block w-full rounded-md shadow-sm transition duration-150 ease-in-out sm:text-sm sm:leading-5", placeholder: "Add a comment..." %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Submit", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-300 ease-in-out" %>
  </div>
<% end %>
